In [1]:
import a2
import pandas as pd
CAMINHO = "paralisiainfantil.csv"

In [2]:
a2.questao_1(CAMINHO)

475

In [3]:
a2.questao_2(CAMINHO)

261160    62
355030    28
211130    21
130260    20
250750    18
          ..
430460     1
170255     1
421580     1
353080     1
171880     1
Name: ID_MUNICIP, Length: 120, dtype: int64

In [4]:
a2.questao_3(CAMINHO)

('M', {'M': 271, 'F': 204})

In [5]:
a2.questao_4(CAMINHO)

6.441403508771931

In [6]:
a2.questao_5(CAMINHO)

{'SP': 76,
 'PE': 62,
 'PR': 41,
 'MG': 40,
 'BA': 35,
 'RS': 26,
 'MA': 22,
 'RJ': 21,
 'AM': 20,
 'PB': 18,
 'AL': 13,
 'RN': 12,
 'PA': 11,
 'PI': 11,
 'GO': 10,
 'TO': 9,
 'SE': 9,
 'DF': 8,
 'RO': 5,
 'MS': 5,
 'MT': 4,
 'CE': 4,
 'ES': 4,
 'AC': 3,
 'SC': 3,
 'AP': 3}

In [7]:
a2.questao_6(CAMINHO)

{'SP': 43,
 'PE': 34,
 'BA': 27,
 'PR': 27,
 'MG': 19,
 'RS': 18,
 'RJ': 12,
 'PB': 11,
 'AM': 9,
 'MA': 9,
 'AL': 8,
 'PI': 8,
 'TO': 6,
 'SE': 6,
 'DF': 5,
 'RN': 5,
 'GO': 4,
 'PA': 4,
 'CE': 4,
 'RO': 3,
 'MS': 3,
 'AC': 2,
 'MT': 2,
 'SC': 1,
 'AP': 1}

In [8]:
a2.questao_7(CAMINHO)

{'AC': 0.09090909090909091,
 'AL': 0.0196078431372549,
 'AP': 0.0625,
 'AM': 0.016129032258064516,
 'BA': 0.016786570743405275,
 'CE': 0.005434782608695652,
 'DF': 1.0,
 'ES': 0.038461538461538464,
 'GO': 0.008130081300813009,
 'MA': 0.009216589861751152,
 'MT': 0.014184397163120567,
 'MS': 0.02531645569620253,
 'MG': 0.017584994138335287,
 'PA': 0.034722222222222224,
 'PB': 0.004484304932735426,
 'PR': 0.047619047619047616,
 'PE': 0.005405405405405406,
 'PI': 0.004464285714285714,
 'RN': 0.011976047904191617,
 'RS': 0.018108651911468814,
 'RJ': 0.04395604395604396,
 'RO': 0.019230769230769232,
 'RR': 0,
 'SC': 0.010169491525423728,
 'SP': 0.043410852713178294,
 'SE': 0.013333333333333334,
 'TO': 0.02877697841726619}

In [9]:
a2.questao_8(CAMINHO)

/home/pedro/Modelos/Python/Aulas IC/Projeto-A2-IC/Descrição/a2.py:90: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["DT_NOTIFICACAO"] = pd.to_datetime(df["DT_NOTIFIC"])
/home/pedro/Modelos/Python/Aulas IC/Projeto-A2-IC/Descrição/a2.py:91: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["DT_SINTOMAS"] = pd.to_datetime(df["DT_SIN_PRI"])
/home/pedro/Modelos/Python/Aulas IC/Projeto-A2-IC/Descrição/a2.py:92: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["ATRASO_NOT"] = (df["DT_NOTIFICACAO"] - df["DT_SINTOMAS"]).dt.days

    DT_NOTIFICACAO DT_SINTOMAS  ATRASO_NOT
0       2015-01-05  2015-01-03           2
1       2015-01-06  2015-01-05           1
2       2015-01-06  2015-01-01           5
3       2015-01-12  2015-01-06           6
4       2015-01-12  2015-01-10           2
..             ...         ...         ...
470     2016-01-29  2015-12-24          36
471     2016-02-01  2015-12-31          32
472     2016-02-03  2015-12-11          54
473     2016-02-18  2015-12-06          74
474     2016-02-19  2015-10-04         138

[475 rows x 3 columns]

In [10]:
a2.questao_9(CAMINHO)

TypeError: questao_9() takes 0 positional arguments but 1 was given

In [ ]:
a2.questao_10(CAMINHO)