In [1]:
import a2
import pandas as pd
CAMINHO = "paralisiainfantil.csv"

In [ ]:
a2.questao_1(CAMINHO)

In [2]:
a2.questao_2(CAMINHO)

261160    62
355030    28
211130    21
130260    20
250750    18
          ..
430460     1
170255     1
421580     1
353080     1
171880     1
Name: ID_MUNICIP, Length: 120, dtype: int64

In [3]:
print(dir(a2))

['AUTORES', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'mp', 'pd', 'questao_1', 'questao_10', 'questao_2', 'questao_3', 'questao_4', 'questao_5', 'questao_6', 'questao_7', 'questao_8', 'questao_9']

In [4]:
a2.questao_3(CAMINHO)

('M', {'M': 271, 'F': 204})

In [5]:
a2.questao_8(CAMINHO)

/home/pedro/Modelos/Python/Aulas IC/Projeto-A2-IC/Descrição/a2.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["DT_NOTIFICACAO"] = pd.to_datetime(df["DT_NOTIFIC"])
/home/pedro/Modelos/Python/Aulas IC/Projeto-A2-IC/Descrição/a2.py:66: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["DT_SINTOMAS"] = pd.to_datetime(df["DT_SIN_PRI"])
/home/pedro/Modelos/Python/Aulas IC/Projeto-A2-IC/Descrição/a2.py:67: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["ATRASO_NOT"] = (df["DT_NOTIFICACAO"] - df["DT_SINTOMAS"]).dt.days

    DT_NOTIFICACAO DT_SINTOMAS  ATRASO_NOT
0       2015-01-05  2015-01-03           2
1       2015-01-06  2015-01-05           1
2       2015-01-06  2015-01-01           5
3       2015-01-12  2015-01-06           6
4       2015-01-12  2015-01-10           2
..             ...         ...         ...
470     2016-01-29  2015-12-24          36
471     2016-02-01  2015-12-31          32
472     2016-02-03  2015-12-11          54
473     2016-02-18  2015-12-06          74
474     2016-02-19  2015-10-04         138

[475 rows x 3 columns]

In [6]:
df = pd.read_csv(CAMINHO)
df["DT_NOTIFICACAO"] = pd.to_datetime(df["DT_NOTIFIC"])
df["DT_SINTOMAS"] = pd.to_datetime(df["DT_SIN_PRI"])
df["ATRASO_NOT"] = df["DT_NOTIFIC"] - df["DT_SIN_PRI"]
df[["DT_NOTIFICACAO", "DT_SINTOMAS", "ATRASO_NOT"]]

                   DT_NOTIFICACAO                   DT_SINTOMAS  ATRASO_NOT
0   1970-01-01 00:00:00.020150105 1970-01-01 00:00:00.020150103           2
1   1970-01-01 00:00:00.020150106 1970-01-01 00:00:00.020150105           1
2   1970-01-01 00:00:00.020150106 1970-01-01 00:00:00.020150101           5
3   1970-01-01 00:00:00.020150112 1970-01-01 00:00:00.020150106           6
4   1970-01-01 00:00:00.020150112 1970-01-01 00:00:00.020150110           2
..                            ...                           ...         ...
470 1970-01-01 00:00:00.020160129 1970-01-01 00:00:00.020151224        8905
471 1970-01-01 00:00:00.020160201 1970-01-01 00:00:00.020151231        8970
472 1970-01-01 00:00:00.020160203 1970-01-01 00:00:00.020151211        8992
473 1970-01-01 00:00:00.020160218 1970-01-01 00:00:00.020151206        9012
474 1970-01-01 00:00:00.020160219 1970-01-01 00:00:00.020151004        9215

[475 rows x 3 columns]

In [7]:
pd.read_csv(CAMINHO).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Columns: 169 entries, Unnamed: 0 to DT_ENCERRA
dtypes: int64(25), object(144)
memory usage: 627.3+ KB