In [1]:
import a2
import pandas as pd
CAMINHO = "paralisiainfantil.csv"

In [2]:
a2.questao_1(CAMINHO)

475

In [3]:
a2.questao_2(CAMINHO)

261160    62
355030    28
211130    21
130260    20
250750    18
          ..
430460     1
170255     1
421580     1
353080     1
171880     1
Name: ID_MUNICIP, Length: 120, dtype: int64

In [4]:
print(dir(a2))

['AUTORES', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'mp', 'pd', 'questao_1', 'questao_10', 'questao_2', 'questao_3', 'questao_4', 'questao_5', 'questao_6', 'questao_7', 'questao_8', 'questao_9']

In [5]:
a2.questao_3(CAMINHO)

('M', {'M': 271, 'F': 204})

In [6]:
a2.questao_8(CAMINHO)

                   DT_NOTIFICACAO                   DT_SINTOMAS  ATRASO_NOT
0   1970-01-01 00:00:00.020150105 1970-01-01 00:00:00.020150103           2
1   1970-01-01 00:00:00.020150106 1970-01-01 00:00:00.020150105           1
2   1970-01-01 00:00:00.020150106 1970-01-01 00:00:00.020150101           5
3   1970-01-01 00:00:00.020150112 1970-01-01 00:00:00.020150106           6
4   1970-01-01 00:00:00.020150112 1970-01-01 00:00:00.020150110           2
..                            ...                           ...         ...
470 1970-01-01 00:00:00.020160129 1970-01-01 00:00:00.020151224        8905
471 1970-01-01 00:00:00.020160201 1970-01-01 00:00:00.020151231        8970
472 1970-01-01 00:00:00.020160203 1970-01-01 00:00:00.020151211        8992
473 1970-01-01 00:00:00.020160218 1970-01-01 00:00:00.020151206        9012
474 1970-01-01 00:00:00.020160219 1970-01-01 00:00:00.020151004        9215

[475 rows x 3 columns]

In [9]:
df = pd.read_csv(CAMINHO)
df["DT_NOTIFICACAO"] = pd.to_datetime(df["DT_NOTIFIC"])
df["DT_SINTOMAS"] = pd.to_datetime(df["DT_SIN_PRI"])
df["ATRASO_NOT"] = df["DT_NOTIFIC"] - df["DT_SIN_PRI"]
df[["DT_NOTIFICACAO", "DT_SINTOMAS", "ATRASO_NOT"]]

                   DT_NOTIFICACAO                   DT_SINTOMAS  ATRASO_NOT
0   1970-01-01 00:00:00.020150105 1970-01-01 00:00:00.020150103           2
1   1970-01-01 00:00:00.020150106 1970-01-01 00:00:00.020150105           1
2   1970-01-01 00:00:00.020150106 1970-01-01 00:00:00.020150101           5
3   1970-01-01 00:00:00.020150112 1970-01-01 00:00:00.020150106           6
4   1970-01-01 00:00:00.020150112 1970-01-01 00:00:00.020150110           2
..                            ...                           ...         ...
470 1970-01-01 00:00:00.020160129 1970-01-01 00:00:00.020151224        8905
471 1970-01-01 00:00:00.020160201 1970-01-01 00:00:00.020151231        8970
472 1970-01-01 00:00:00.020160203 1970-01-01 00:00:00.020151211        8992
473 1970-01-01 00:00:00.020160218 1970-01-01 00:00:00.020151206        9012
474 1970-01-01 00:00:00.020160219 1970-01-01 00:00:00.020151004        9215

[475 rows x 3 columns]

In [10]:
pd.read_csv(CAMINHO)

,Unnamed: 0,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,...,EVOR_S_MID,EVOR_S_MSD,EVOR_S_FAC,EVOR1_DT_R,CLASSI_FIN,CRITERIO,CON_DESCAR,EVOLUCAO,DT_OBITO,DT_ENCERRA
0,0,2,A809,20150105,201501,2015,26,261160,1497,655,...,,,,,4,1,G83.1,9,,20150127
1,1,2,A809,20150106,201501,2015,35,354980,1354,2077396,...,3,3,3,,4,1,G81.0,1,,20150312
2,2,2,A809,20150106,201501,2015,43,431340,1592,2232057,...,,,,,4,3,G61.0,9,,20150312
3,3,2,A809,20150112,201502,2015,35,354990,1351,9628,...,,,,,4,1,G98,1,,20150406
4,4,2,A809,20150112,201502,2015,11,110020,1483,2493896,...,3,3,3,,4,1,G83.9,2,,20150209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,470,2,A809,20160129,201604,2016,52,520870,1779,2339196,...,1,3,3,6/3/2016,4,1,G61.9,1,,20160308
471,471,2,A809,20160201,201605,2016,17,172100,,2755157,...,3,3,3,,4,1,G62.9,2,,20160414
472,472,2,A809,20160203,201605,2016,26,261160,1497,655,...,3,3,3,,4,1,G04.8,2,,20160509
473,473,2,A809,20160218,201607,2016,35,351880,1333,2080338,...,,,,,4,2,I64,9,,20160223
474,474,2,A809,20160219,201607,2016,35,355030,1331,2066092,...,,,,,4,2,C72.9,4,4/5/2016,20160420